# AWS Configuration
AWS_REGION=us-east-1
PROJECT_NAME=devops-assessment-saroj

# Terraform
TF_STATE_BUCKET=saroj-eks-tfstate-2026
TF_STATE_LOCK_TABLE=terraform-state-lock

# EKS
CLUSTER_NAME=saroj-eks